<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet">
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<link rel="icon" type="image/png" href="/static/favicon.png" />
<link rel="search" type="application/opensearchdescription+xml" title="ExHack" href="/packages/opensearch.xml" />

<title>ExHack | Haskell Examples Database</title>
</head>

<body>
<div id="page-header">

  <a class="caption" href="/">ExHack :: [Package]</a>

<ul class="links" id="page-menu">

    <li><a href="/browse.html">Browse Package</a></li>

</ul>

</div>

<div id="content">
<h1>Welcome to ExHack!</h1>
<div id="package-table">
<input id="package-search" class="search" placeholder="Search package name" />
<table id="table" class="fancy row-border order-column compact dataTable no-footer" role="grid"
  <thead>
    <tr role="row">
      <th><div>Package Name</div></th>
      <th><div>Nb Exported Modules</div></th>
      <th><div>Descriptions</div></th>
      <th><div>Nb Occurences</div></th>
    </tr>
  </thead>
  <tbody class="list">
    <tr class="package" role="row">
      <td><a href="" class="packageName">text</a></td> 
      <td>12</td> 
      <td>A memory efficient text package that you'll love!</td> 
      <td>230</td> 
    </tr>
    <tr class="package" role="row">
      <td><a href="" class="packageName">babar</a></td> 
      <td>12</td> 
      <td>A memory efficient text package that you'll love!</td> 
      <td>230</td> 
    </tr>
  </tbody>
</table>
</div>
</div>
<script src="/static/list.min.js"></script>
<script src="/static/ex-hack-index.js"></script>
</body>
</html>
